version: "3.9"

services:
  frontend:
    build: .
    container_name: pinchake-frontend
    env_file:
      - ./.env
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
